@font-face {
  font-family: Tiempos;
  src: url("/assets/fonts/tiempos.otf") format("opentype");
}

.content {
  p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 300;
    span {
      font-weight: 300!important;
    }
    strong {
      font-weight: 400!important;
    }
  }
}