@charset "utf-8";
@import 'fonts';
@import 'colors';
@import "../node_modules/bulma/bulma.sass";
@import 'typography';
@import "header";
@import "animations";

@keyframes AnimationName { 
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 53px;
}

.small-column {
  flex-basis: unset;
  flex-grow: unset;
}

.box {
  box-shadow: none;
  border: 1px solid #dee1e5;
}

.departments .box {
  &:hover {
    border-color: $blue;
  }
  transition: all 0.2s ease-in-out;
}