@charset 'utf-8';
@import 'fonts';
@import 'colors';
@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/bulma-steps-component/bulma-steps.sass';
@import 'typography';
@import 'header';
@import 'animations';
@import 'icons';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 63px;
}

.small-column {
  flex-basis: unset;
  flex-grow: unset;
}

.box {
  box-shadow: none;
  border: 1px solid #dee1e5;
}

.departments .box {
  &:hover {
    border-color: $blue;
  }

  transition: all 0.2s ease-in-out;
}

.steps-segment {
  flex-grow: 1 !important;
}

.breadcrumb {
  .is-active {
    color: #7a838e !important;
  }
}

.breadcrumb li+li::before {
  content: '›';
  font-weight: 300;
  position: relative;
  top: -1px;
}

#youtube-button {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' version='1.1' viewBox='0 0 68 48' width='100%25'%3E%3Cpath class='ytp-large-play-button-bg' d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z' fill='%23212121' fill-opacity='0.8'%3E%3C/path%3E%3Cpath d='M 45,24 27,14 27,34' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
  width: 68px;
  height: 48px;
  border: 0;
  position: absolute;
  right: 0;
  left: 0;
  background-color: transparent;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.youtube-wrapper {
  max-width: 1080px;
  margin: auto;
  
  section {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  div {
    div {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      pointer-events: none;
    }
  }

  img {
    position: absolute;

    &:hover {
      cursor: pointer;

      +div {
        button {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' version='1.1' viewBox='0 0 68 48' width='100%25'%3E%3Cpath class='ytp-large-play-button-bg' d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z' fill='%23ff0000' fill-opacity='1'%3E%3C/path%3E%3Cpath d='M 45,24 27,14 27,34' fill='%23fff'%3E%3C/path%3E%3C/svg%3E") !important;
        }
      }
    }
  }
}